    
<div ng-controller="AdminController">
    <div class="fondo_de_bienvenida">
         <h1><center>Sitema de Administracion</center></h1>
        <h1>Bienvenido, {{$sessionStorage.currentUser.username}}</h1>
        <p>Una de las mejores fuentes de aprendizaje e inspiración para emprendedores, es la experiencia y casos de éxito de aquellas personas que ya han vivido la aventura de emprender. A través de estos casos y experiencias exitosas podemos conocer los retos que como emprendedores debemos asumir, las principales dificultades que enfrentan los emprendedores, las claves para crear empresas exitosas y además nos llenamos de motivación para seguir adelante y tener la firme convicción de que nosotros también podemos convertirnos en empresarios exitosos.</p>
      </div>
</iv>


