    
<div ng-controller="AdminController">
    <div class="fondo_de_bienvenida">
         <h1><center>Bienvenido</center></h1>
        <br><br>
        <p>No te veo. Bien sé
		que estás aquí, detrás
		de una frágil pared
		de ladrillos y cal.<br> Bien al alcance
		de mi voz, si llamara.
		Pero no llamaré.
		Te llamaré mañana.<br>
		Cuando, al no verte ya
		me imagine que sigues
		aquí cerca, a mi lado,
		y que basta<br> hoy la voz
		que ayer no quise dar.
		Mañana... cuando estés
		allá detrás de una
		frágil<br> pared de vientos,
		de cielos y de años.</p>
		<br><br><br><br><br><br>
		<h6 class="autor">Pablo salinas</h6>
      </div>

</iv>


