<div ng-controller="AdminController">
	<div class="fondo_de_bienvenida">
		<h1><center>No te veo. Bien sé...</center></h1>
		<br><br>
		<p>
			No te veo. Bien sé<br>
			que estás aquí, detrás<br>
			de una frágil pared<br>
			de ladrillos y cal, Bien al alcance<br>
			de mi voz, si llamara.<br>
			Pero no llamaré.<br>
			Te llamaré mañana.<br>
			Cuando, al no verte ya<br>
			me imagine que sigues<br>
			aquí cerca, a mi lado,<br>
			y que basta hoy la voz<br>
			que ayer no quise dar.<br>
			Mañana... cuando estés<br>
			allá detrás de una<br>
			frágil pared de vientos,<br>
			de cielos y de años.
		</p>
		<br><br><br><br><br><br>
		<h6 class="autor">Pablo salinas</h6>
	</div>
</div>


