<div class="content" ng-controller="UsersController">
    <MARQUEE><h1>Deposito Emelina Control de Acceso</h1></MARQUEE>
    <div class="row" >
            <label class="col-xs-4"></label>
            <div id="content" class="col-xs-8 transparente">
                <form  class="form-horizontal" role="form">
                    <h1>LOGIN</h1>
                    <div>
                       <input type="text"  placeholder="INGRESE SU USUARIO..." id="username" ng-model="user.username">
                   </div>
                   <div>
                    <input type="password" placeholder="INGRESE SU CONTRASEÑA..." id="password" required="" ng-model="user.password">
                </div>
                <input type="submit" value="Entrar"  ng-click="login(user)">
            </form>
            <div class="boton">
                <p>Bienvenido A Deposito Emelina</p>
            </div>

        </div>
    </div>
</div>

