<div class="row">
	<h1><center>Control de Productos en Riesgo</center></h1>
	<hr>
	<table id="taba_venta1" class="taba_v">
		<tr>
			<td><strong>Id</strong></td>
			<td><strong>Descripcion</strong></td>
			<td><strong>Fecha Ingreso</strong></td>
			<td><strong>Fecha Vencimiento</strong></td>
			<td><strong>Precio</strong></td>
			<td><strong>Cantidad</strong></td>
			<td><strong> Opcion</strong></td>
		</tr>
		<tr>
			<td><input type="text" placeholder="ID" class="cajas"></td>
			<td><input type="text" placeholder="Descripcion" class="cajas"></td>
			<td><input type="text" placeholder="Fecha Ingreso" class="cajas"></td>
			<td><input type="text" placeholder="Fecha Vencimiento" class="cajas"></td>
			<td><input type="text" placeholder="Precio" class="cajas"></td>
			<td><input type="text" placeholder="Cantidad" class="cajas"></td>
			<td> <input type="button" class="btn btn-danger caja" value="Modificar"></td>
		</tr>
	</table>
</div>