<div class="row">
	<h1><center>Control de Productos en Riesgo</center></h1>
	<hr>
	<table id="tabla_color" class="table table-bordered table-hover">
		<tr  class="tabla_color_encabesado">
			<td><strong>Id</strong></td>
			<td><strong>Descripcion</strong></td>
			<td><strong>Fecha Ingreso</strong></td>
			<td><strong>Fecha Vencimiento</strong></td>
			<td><strong>Precio</strong></td>
			<td><strong>Cantidad</strong></td>
			<td></td>
		</tr>
		<tr ng-repeat="riesgo in productos_en_riesgo" class="warning">
			<td>{{riesgo.id}}</td>
			<td>{{riesgo.descripcion}}</td>
			<td>{{riesgo.fecha_ingreso}}</td>
			<td>{{riesgo.fecha_venc}}</td>
			<td>{{riesgo.precio}}</td>
			<td>{{riesgo.cantidad}}</td>
			<td>
				<input class="btn btn-danger tamano_botones" type="button" value="X" > 
			</td>
		</tr>
	</table>
</div>